:root {
  --dark: #000000;
  --veryDark: #192024;
  --darkBlue: #0082f3;
  --lightBlue: #69b9ff;
  --blightBlue: #2e9dff;
  --mediumBlue: #3b99d9;
  --steelBlue: #668cad;
  --slateBlue: #6a859c;
  --deepSkyBlue: #2e80b6;
  --darkGray: #676770;
  --veryDarkGray: #333333;
  --slateGray: #8e8e9c;
  --mediumBlueGray: #92a0ad;
  --neutralGray: #9e9e9e;
  --veryDarkGray: #383838;
  --coolGray: #aaadb0;
  --paleBlue: #dcebf7;
  --veryLightGray: #e8e8e8;
  --magenta: #fb3aa2;
  --white: #fff;

  --section-padding: 8rem 0;

  --transition: all 0.3s ease-in-out;

  --ioniconStrokeWidth: 25px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

a,
img,
span,
button,
ion-icon {
  display: block;
}

img {
  width: 100%;
  object-fit: cover;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: var(--white);
}

/* Global Style  */
.btn {
  color: var(--paleBlue);
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
}

.btn-primary {
  background: var(--darkGray);
  padding: 2rem;
  width: 100%;
  text-align: left;
}

.btn-primary:is(:hover, :focus) {
  background: var(--blightBlue);
}

.overlay {
  position: fixed;
  background-color: transparent;
  inset: 0;
  pointer-events: none;
  transition: var(--transition);
}

.overlay.active {
  background: hsla(0, 0%, 0%, 0.5);
  pointer-events: all;
}

.container {
  max-width: 94rem;
  padding: 8rem 2rem;
  margin: 0 auto;
}

.gray__heading {
  font-size: 3rem;
  font-weight: 300;
  color: var(--darkGray);
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 1.6rem;
  text-align: center;
}

.gray__detail {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--slateGray);
  letter-spacing: 3px;
  text-align: center;
}

/* Header Style */
header {
  width: 100%;
  
  position: fixed;
  z-index: 4;
  transition: box-shadow 0.3s ease-in-out,
  background .3s ease-in-out;
}

header.active {
  background: var(--white);
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2);
}

.header__wrapper {
  max-width: unset;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.logo {
  font-size: 2.5rem;
  color: var(--lightBlue);
  font-weight: 300;
  text-transform: uppercase;
}

.navbar {
  position: fixed;
  top: 0;
  right: -20rem;
  width: 50%;
  height: 100vh;
  background: var(--mediumBlue);
  padding-top: 6rem;
  transition: right 0.3s ease-in-out;
  box-shadow: -2px 0 4px hsla(0, 0%, 0%, 0.1);
  visibility: hidden;
}

.navbar.active {
  right: 0;
  visibility: visible;
}

.navbar__link {
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 200;
  padding: 2rem;
  transition: background 0.3s ease-in-out;
}

.navbar__link:is(:hover, :focus) {
  background: var(--darkBlue);
}

.navbar__item:not(:last-child) {
  border-bottom: 1px solid var(--deepSkyBlue);
}

.nav__open__btn,
.nav__close__btn {
  font-size: 3.5rem;
  padding: 5px;
  color: var(--paleBlue);
}

.nav__close__btn {
  position: absolute;
  top: 20px;
  right: 15px;
}

/* Hero Style */
.hero {
  background: #000046;
  background: -webkit-linear-gradient(to right, #1cb5e0, #000046);
  background: linear-gradient(to right, #1cb5e0, #000046);
  min-height: 80vh;
  position: relative;
  border-bottom: 2px solid var(--lightBlue);
}

.hero__content {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0; 
  visibility: hidden; 
  transition: opacity 1s ease-in, visibility 1s;
}

.hero__header {
  font-size: 5rem;
  font-weight: 200;
  text-transform: uppercase;
  color: var(--white);
  letter-spacing: 4px;
  
}

.hero__header span {
  color: var(--magenta);
  display: inline;
}

.hero__detail {
  font-size: 1.8rem;
  font-weight: 200;
  color: var(--lightBlue);
  margin-top: 1.5rem;
}

/* Offering Section */

.offering {
  background: var(--white);
}

.offering__card__wrapper {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
}

.offering__card {
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid var(--veryLightGray);
  border-radius: 5px;
}

.offering__icon {
  color: var(--lightBlue);
  border: 1px solid var(--lightBlue);
  padding: 1rem;
  font-size: 4.6rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.offering__card__heading {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 7px;
  color: var(--darkGray);
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.offering__card__detail {
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: 300;
  color: var(--slateBlue);
}

/* Services  Section */
.services {
  background: var(--dark);
}

.services__heading {
  font-size: 3rem;
  font-weight: 300;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 1.6rem;
  text-align: center;
}

.services__detail {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--white);
  letter-spacing: 3px;
  text-align: center;
}

.services__images__wrapper {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  align-items: center;
}

.services__image {
  width: 100%;
}

.services__image img {
  max-width: 100%;
  object-fit: cover;
}

.services__card__heading {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 7px;
  color: var(--white);
  text-align: center;
  margin: 1.5rem 0;
}

.services__card__detail {
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--white);
  text-align: center;
}

.services__btn {
  margin: 0 auto;
  width: 20rem;
  padding: 1rem 3rem;
  background: transparent;
  border: 1px solid var(--white);
  margin-top: 1.5rem;
  border-radius: 5px;
  color: var(--white);
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 2px;
  transition: var(--transition);
}

.services__btn:hover {
  border-color: var(--lightBlue);
  color: var(--lightBlue);
}

/* Portfolio Style */
.portfolio {
  background: var(--white);
}

.portfolio__btn__wrapper {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.portfolio__btn {
  width: 20rem;
  padding: 1.2rem 3rem;
  background: var(--mediumBlueGray);
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 2px;
  color: var(--white);
  text-transform: uppercase;
  border-radius: 5px;
  transition: background .3s ease-in-out;
}

.portfolio__image img {
  max-width: 100%;
}

.portfolio__heading {
  font-size: 3.2rem;
  font-weight: 300;
  color: var(--darkGray);
  margin: 1.5rem 0;
  text-align: center;
}

.portfolio__detail {
  font-size: 1.4rem;
  color: var(--slateBlue);
  margin-bottom: 2rem;
  text-align: center;
}

.portfolio__btn-active {
  background: var(--lightBlue);
}

.portfolio__content {
  display: none;
}

.portfolio__content.active {
  display: block;
}

/* Social Style */
.social {
  background: #edeff2;
}

.social__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
  gap: 2rem;
  justify-content: center;
}

.social__heading {
  font-size: 1.8rem;
  letter-spacing: 4px;
  font-weight: 300;
  color: var(--darkGray);
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.social__detail {
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--slateBlue);
}

.about {
  padding-right: 2rem;
}

.links ul li,
.socials ul li {
  border-bottom: 1px solid var(--veryLightGray);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.links ul li a,
.socials ul li a {
  font-size: 1.4rem;
  color: var(--steelBlue);
  transition: var(--transition);
}

.links ul li a:hover,
.socials ul li a:hover {
  color: var(--lightBlue);
}

.socials ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.socials ul li ion-icon {
  font-size: 2rem;
  color: var(--darkBlue);
}

/* Media Queries */

/* Media Queries */

@media (min-width: 768px) {
  /* 1. HEADER WRAPPER (CORRECTED) */
  .header__wrapper {
    max-width: 94rem;
    margin: 0 auto;
    padding: 1.5rem 2rem;
  }

  .hero__content.loaded {
    opacity: 1; 
    visibility: visible;
  }
  

  .navbar {
    position: static;
    width: auto;
    height: 2.5rem;
    background: none;
    padding-top: 0;
    box-shadow: none;
    visibility: visible;
    display: flex;
    align-items: center;
  }

  .nav__open__btn,
  .nav__close__btn {
    display: none;
  }

  .navbar__list {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }

  .navbar__item:not(:last-child) {
    border-bottom: none;
  }

  .navbar__link {

    color: var(--white);
    font-weight: 500;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease-in-out; 
  }
  .navbar__link:is(:hover,:focus) {
    background: none;
    color: var(--lightBlue); 
  }

  header.active .navbar__link {
    background: none;
    color: var(--darkGray); 
  }

  header.active .navbar__link:is(:hover, :focus) {
    background: none;
    color: var(--lightBlue); 
  }

  .btn-primary {
    background: var(--darkBlue);
    color: var(--white);
    width: auto;
    text-align: center;
    padding: 0.8rem 1.5rem;
    margin-left: 2rem;
    border-radius: 5px;
    font-size: 1.4rem;
  }

  .btn-primary:is(:hover, :focus) {
    background: var(--blightBlue);
  }

  /* Services Mobile Style */

  .services__images__wrapper {
    flex-wrap: nowrap;
  }

  .services__image {
    width: 50%;
  }

  /* Portfolio Mobile Style */
  .portfolio__btn__wrapper {
    flex-direction: row;
  }
}
